  <div class="col-xs-12 col-md-12">
<% if  !@produto.nil? %>
<table class="table table-hover">  
		<tr>
	    	<td><h4>Nome do Produto</h4></td>
	    	<td class="text-center"><h4>Preço unitário</h4></td>
	    </tr>
  	<% for item in @produto %>
  		<tr>
	    	<td><%= item.nome %></td>
	    	<td class="text-center"><%= number_to_currency item.preco, unit: '€'%></td>
	    	<td class="text-center"><%= link_to "Saber mais", produto_path(item.nome) %></td>
		</tr>
  	<% end %>
  </table>
<% end %>
</div>

